@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$primary-color: #4ecdc4;
$secondary-color: #f5a623;
$third-color: #ffe66d;
$light-color: #f7fff7;
$dark-color: #292f36;
$white: #ffffff;

* {
	font-family: "Fira sans";
	box-sizing: border-box;
	margin: 0;
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 17px;
	padding: 20px 0 26px;

	h1 {
		font-size: 48px;
		font-family: "Inclusive sans";
		font-weight: 400;
		margin: 0;
	}

	#toggle {
		height: 36px;
		width: 100px;
		border: 1px solid $dark-color;
		border-radius: 25px;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			border-radius: 25px;
			width: 25px;
			height: 25px;
			background-color: $dark-color;
			margin-left: 8px;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	padding: 61px;
}

main {
	padding: 56px 87px;

	#allevents {
		gap: 56px;
		.card {
			background-color: $light-color;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 313px;
			min-height: 313px;
			padding: 18px 12px;
			border: 1px solid $primary-color;

			> div:first-child {
				display: flex;
				flex-direction: column;
				gap: 17px;
			}

			h2 {
				color: $primary-color;
				font-size: 24px;
				margin: 0;
			}

			button {
				font-size: 16px;
				color: $light-color;
				padding: 5.5px;
				border: none;
				cursor: pointer;
			}
			.view {
				background-color: $primary-color;
				margin-bottom: 17px;
			}
			.add {
				background-color: $secondary-color;
			}
		}
	}

	#loadmore {
		margin-top: 50px;
		display: flex;
		justify-content: center;

		button {
			background-color: $secondary-color;
			color: $dark-color;
			padding: 5px 15px;
			border: none;
			border-radius: 5px;
			font-size: 20px;
			cursor: pointer;
		}
	}
}

body.theme-light {
	background-color: $white;

	header,
	footer {
		background-color: $light-color;
	}

	#website-name {
		color: $primary-color;
	}

	#toggle {
		background-color: $white;
	}
}

body.theme-dark {
	background-color: $dark-color;

	header,
	footer {
		background-color: $primary-color;
	}

	#website-name {
		color: $dark-color;
	}

	#toggle {
		background-color: $secondary-color;
	}
}

.hidden {
	display: none;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.dir-col {
	flex-direction: column;
}
.centered {
	align-items: center;
	justify-content: center;
}
.space-around {
	justify-content: space-around;
}
.centered-v {
	align-items: center;
}
.flex-col {
	flex-direction: column;
}
.gap-16 {
	gap: 16px;
}
