@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$primary-color: #4ecdc4;
$secondary-color: #f5a623;
$third-color: #ffe66d;
$light-color: #f7fff7;
$dark-color: #292f36;
$white: #ffffff;
$red: rgb(122, 1, 1);

* {
	font-family: "Fira sans";
	box-sizing: border-box;
	margin: 0;
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

img {
	max-width: 100%;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 17px;
	padding: 20px 0 26px;

	h1 {
		font-size: 48px;
		font-family: "Inclusive sans";
		font-weight: 400;
		margin: 0;
	}

	#toggle {
		height: 36px;
		width: 100px;
		border: 1px solid $dark-color;
		border-radius: 25px;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			border-radius: 25px;
			width: 25px;
			height: 25px;
			background-color: $dark-color;
			margin-left: 8px;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	padding: 61px;
}

#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> :first-child {
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
		position: relative;
		max-width: 525px;
		max-height: 90vh;
		overflow-y: scroll;
		background-color: $light-color;
		padding: 50px 40px;
		display: flex;
		flex-direction: column;
		gap: 14px;

		.img-cont {
			height: 200px;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		a {
			color: $dark-color;
		}
	}

	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 36px;
		cursor: pointer;
	}
}
#popup.hidden {
	display: none;
}

#planning-toggle {
	position: fixed;
	right: 20px;
	top: 30vh;
	background: $third-color;
	border-radius: 25px;
	border: 1px solid $primary-color;
	height: 79px;
	// width: 164px;
	padding: 0 20px;
	text-align: center;
	line-height: 79px;
	font-size: 20px;
	cursor: pointer;
}

main {
	padding: 56px 87px;

	#allevents {
		> :first-child {
			gap: 56px;
		}
		.card {
			background-color: $light-color;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 313px;
			min-height: 313px;
			padding: 18px 12px;
			border: 1px solid $primary-color;

			> div:first-child {
				display: flex;
				flex-direction: column;
				gap: 17px;
			}

			h2 {
				color: $primary-color;
				font-size: 24px;
				margin: 0;
			}

			button {
				font-size: 16px;
				color: $light-color;
				padding: 5.5px;
				border: none;
				cursor: pointer;
			}
			.view {
				background-color: $primary-color;
				margin-bottom: 17px;
			}
			.add {
				background-color: $secondary-color;
			}
			.remove {
				background-color: $red;
			}
		}
	}

	#loadmore {
		margin-top: 50px;
		display: flex;
		justify-content: center;

		button {
			background-color: $secondary-color;
			color: $dark-color;
			padding: 5px 15px;
			border: none;
			border-radius: 5px;
			font-size: 20px;
			cursor: pointer;
		}
	}
}

body.theme-light {
	background-color: $white;

	header,
	footer {
		background-color: $light-color;
	}

	#website-name {
		color: $primary-color;
	}

	#toggle {
		background-color: $white;
	}
}

body.theme-dark {
	background-color: $dark-color;

	header,
	footer {
		background-color: $primary-color;
	}

	#popup {
		> :first-child {
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
		}
	}

	#website-name {
		color: $dark-color;
	}

	#toggle {
		background-color: $secondary-color;
	}
}

.hidden {
	display: none !important;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.dir-col {
	flex-direction: column;
}
.centered {
	align-items: center;
	justify-content: center;
}
.space-around {
	justify-content: space-around;
}
.centered-v {
	align-items: center;
}
.flex-col {
	flex-direction: column;
}
.gap-16 {
	gap: 16px;
}
